head
{ image-rendering: https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.wikia.nocookie.net%2Fhalo%2Fimages%2Fb%2Fb1%2FRipa_Moramee_infobox_HW2.png%2Frevision%2Flatest%3Fcb%3D20200909063157%26path-prefix%3Des&tbnid=M0PNOibynXFE-M&vet=12ahUKEwj0j97-sP-BAxXQNlkFHe0JA48QMygCegQIARBz..i&imgrefurl=https%3A%2F%2Fhalo.fandom.com%2Fes%2Fwiki%2FRipa_%2527Moramee&docid=gyCQ_xnPCGYDdM&w=1120&h=1120&q=inquisidor%20halo&ved=2ahUKEwj0j97-sP-BAxXQNlkFHe0JA48QMygCegQIARBz;
    

}

body

{
    text-align: left;
    font-family: Times New Roman;
    color: #333;
    font-size: 16px;    
    margin: 0;
    padding: 0;

}

#container 
{
width: 70%;
    padding: 1em;
text-align: left;
border: 1px solid #ddd;
margin: 0% auto;

}
#container h1

{
 font-size: 20px;

}